telegram_token=YOUR_TG_TOKEN
gpt_token=YOUR_OPENAI_TOKEN
timeout_value=10
max_messages=10
admin_id=
ignore_report_ids=
authorized_user_ids=

#example commentary
#you can always leave authorized_users empty to make bot public